<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<settings>
        <!--打印日志到slf4j-->
        <setting name="logImpl" value="LOG4J"></setting>
    <setting name="cacheEnabled" value="true"/>
</settings>

</configuration>